# Database_Password = "RHU_learning_center_26"

VITE_PROJECT_URL = "https://arcoqekgvzhxjlwwcked.supabase.co"
VITE_DATABASE_KEY = "sb_publishable_JymUHNZbMDi455hi8aSZew_wuz1kqP2"

# Doctor Password: supportcenter